<!DOCTYPE html>
<html>
<head>
    <title>SENTIMENTAL ANALYSIS MICROSERVICE</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <br>
    <br>
    <!-- code for user interface page where user can enter thier comment -->
    <h3>HELLO, hope all is good</h3>
    <h3>Well, let me predict how are you feeling this moment</h3>
    <h2>Share your thoughts with me...feel free</h2>
    <form action="/predict" method="post">
        <input type="text" name="sentence" placeholder="Enter here...">
        <input type="submit" value="Predict">
    </form>
</body>
</html>
